/* GENERELLE INDSTILLINGER */



* {
    box-sizing: border-box;

}

body {
    margin: 0;
}

img {
    width: 100%;
}
























/* MENU */


.hide {
    display: none;
}

.hidden {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    #menu {
        /*det der poppper ned */
        opacity: 1;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        width: 40%;
        background-color: transparent;
        height: 70px;
        flex-direction: row;
        align-items: center;


    }

    #menuknap {
        /*dåsen */
        display: none;
    }

    #listemidtid {
        margin: 0;
    }

    #a1,
    #a2,
    #a3 {
        font-size: 1.8rem;
    }

}

.wrapper {
    /*wrapper omkring burgermenu */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#nav {
    background-color: #FAC177;
    z-index: 10;
}

.logo {
    /* billedet med logo */
    height: 60px;
    width: 60px;
}

#logo {
    z-index: 1;
}

.burgermenu {
    /* billedet med burgermenu */
    height: 60px;
    width: 60px;
    cursor: pointer;

}

#menuknap {
    z-index: 1;
}

#lukkeknap {
    font-size: 3rem;
    color: #093A82;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-right: 14px;
    z-index: 1;
    /*
    text-align: right;
    position: relative;
*/

}

.menuclass {
    position: absolute;
    top: 0;
    right: 0;


    background-color: #FAC177;
    border-radius: 0px 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
    height: 85vw;
    width: 100%;
    margin: 0;

    list-style-type: none;
    text-decoration: none;

}

.wrappermenu {


    display: grid;
}

.listemenu {
    margin: 0 auto;
    cursor: pointer;
}

.amenu {
    color: #093A82;
    text-decoration: none;

    font-family: 'Abril Fatface', cursive;
    cursor: pointer;

    font-size: 2.6rem;

}

.listemidt {
    margin-top: 5vh;
    margin-bottom: 5vh;
}


























/* FORSIDE */

#splash {
    display: grid;
    grid-template-rows: 70px auto;
}

/* main */
main {
    /* container for splash billedet */

    background-image: url(billeder/splash.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

    display: grid;
}

#bigoverskrift {
    font-family: 'Abril Fatface', cursive;
    color: #FAC177;
    background-color: #093A82;
    text-align: center;
    margin: 0 auto;

    font-size: 2rem;
    width: 60vw;
    padding: 1.2rem;
    border-radius: 20px;

    max-width: 360px
}

#lilleoverskrift {
    font-family: 'Abril Fatface', cursive;
    color: #FAC177;
    background-color: #093A82;
    text-align: center;

    margin-bottom: 13px;
    font-size: 1rem;
    width: 40vw;
    max-width: 256px;
    padding: 1.2rem;
    border-radius: 20px;

    align-self: center;
    margin-right: 31vw;
}

.overskrift {
    /* container for overskriften */
    align-self: center;
    display: flex;
    flex-direction: column;

}


























































/* Det handler om hyggen */



/*Hygge boks */
.hygge_box {
    background-color: #093A82;
    height: 20rem;
    display: grid;
}

.hygge_txt {

    align-self: center;
}

.hygge_box h2 {
    color: #FAC177;
    font-family: 'Abril Fatface', cursive;
    font-size: calc(2rem + 2vw);
    text-align: center;
    margin: 0;

}

.hygge_box p {
    color: #FAC177;
    font-family: 'Abril Fatface', cursive;
    font-size: calc(1.2rem + 0.7vw);
    text-align: center;
    margin: 0;
    line-height: 4.2rem;
}



/* Fællesskab boks */

.faellesskab_wrapper {
    background-color: #FAC177;
    display: flex;
    flex-wrap: wrap;
}

.faellesskab_col {
    flex-grow: 1;
    flex-basis: 350px;
}

.faellesskab_img {
    padding: 50px 50px 30px 50px;
}

.faellesskab_img img {
    width: 100%;
}

.faellesskab_txt {
    padding: 0 50px;
}

.faellesskab_txt h2 {
    padding: 0;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-size: calc(1.2rem + 2vw);
    color: #093A82;
}

.faellesskab_txt p {
    padding: 15px 0 35px 0;
    margin: 0;
    font-family: helvetica;
    font-size: calc(0.4rem + 1.3vw);
    color: #093A82;
    line-height: 1.4rem;
}


/* Sammen boks */
.sammen_box {
    background-color: #BEE0D9;
    height: 19rem;
}

.sammen_txt {}

.sammen_txt p {
    padding: 60px 92px;
    margin: 0;
    color: #093A82;
    font-family: 'Abril Fatface', cursive;
    font-size: calc(1.3rem + 1.3vw);
    line-height: 2.2rem;

}




/* WEB - media q */

@media only screen and (min-width: 700px) {
    .sammen_txt {
        width: 50%;
        margin: auto;
    }

    .sammen_txt p {
        padding: 60px 0 0 0;
        line-height: 3rem;
    }

    .faellesskab_img {
        flex-grow: 1;
        flex-basis: 200px;
        padding: 60px;
    }

    .faellesskab_txt {
        flex-grow: 1;
        flex-basis: 400px;

        margin: auto;
        width: 40%;
    }

    .faellesskab_txt p {
        line-height: 2rem;
    }
}

































































































































/* Teskt med kasser */


/*Hele baggrunden:*/

img {
    width: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#tekst_kasser {
    background-color: #BEE0D9;
    height: 45rem;
    position: relative;

}

#section_tekstkasser {
    background-color: #BEE0D9;
}

/*Orange bokse styling*/

.orange_boks1 {
    height: 150px;
    width: 300px;
    background-color: #FAC177;
    top: 100px;
    left: 13vw;
    position: absolute;
}

.orange_boks2 {
    height: 150px;
    width: 300px;
    background-color: #FAC177;
    top: 400px;
    left: 25vw;
    position: absolute;
}



/*Tekst inde i boksene*/
.orange_tekst1 {
    position: relative;
    width: 285px;
    left: 130px;
    top: 30px;
    font-family: helvetica;
    line-height: 25px;
    color: #093A82;
    font-size: 1rem;
}

.orange_tekst2 {
    position: relative;
    width: 290px;
    left: -80px;
    top: 30px;
    font-family: helvetica;
    line-height: 25px;
    color: #093A82;
}

/*Tekst uden boks*/
.tekst_udenboks {
    position: relative;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4rem;
    top: 250px;
    left: 30px;
    color: #093A82;
    background-color: #FAC177;
    line-height: 35px;
    padding: 5px;
    width: 380px;
}

/*Billede*/
.billede_kasser {
    height: 650px;
    max-width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(billeder/beer.jpeg);
    margin: 0 0 30px 0;

}


.store_wrapper {
    display: flex;
    flex-wrap: wrap;
}


.billede_wrap {
    text-align: -webkit-center;
    background-color: #BEE0D9;

    flex-grow: 1;
    flex-basis: 800px;
}

/*flex*/


#tekst_kasser {
    flex-grow: 1;
    flex-basis: 800px;
}




/*Media query*/



@media only screen and (min-width: 1024px) {
    #tekst_kasser {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .billede_wrap {
        flex-grow: 1;
        flex-basis: 300px;
    }

    .billede_kasser {
        margin: 95px 0 0 0;
        max-width: 300px;
        height: 460px;
    }
}











































































































/* Teskt med kasser */

/* Video */







































































































/* Video slut */

/* Infografik start */






















































#infografik {
    display: grid;
    background-color: #093A82;
    height: 100vh;
}

#infografik h1 {
    font-family: 'Abril Fatface', cursive;
    color: #FAC177;
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
}

#infografik_wrapper {
    position: relative;
}

#infografik_wrapper #base_div {

    margin: 0 auto;

    display: grid;
    height: 80vh;

    width: 80%;
    margin: 0 auto;
    max-width: 700px
}

#base {
    align-self: center;
}















































/* Infografik start */


/* Spil og video start */

/* Spil start */













/* -------BAre fylder så man kan se opdeling -------------------*/
.space {
    background-color: #093a82;
    width: 90vw;
    height: 20vw;

}

/* -------video -------------------*/

/*
#video {
    background-color: #093a82;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
}

#video .sectionwrapper {
    padding: 10vw 0vw 20vw 0vw;

}

#video .txt {
    font-family: 'Abril Fatface', cursive;
    color: #fac177;
    text-align: center;
    font-size: 1.5rem;
}

#video .iframe_wrap {
    width: 65vw;

}
*/

/*
#video img {
    align-self: center;
}
*/

.image {
    align-self: center;
    margin: 0 auto
}

.image img {
    width: 65vw;
    object-fit: cover;
    height: 60vh;
}

#sectionwrapper {
    height: 100vh;
    background-color: #093a82;
    display: grid;
    grid-template-rows: 100px auto
}

#kampangetext {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #fac177;
    font-size: 2rem;
    align-self: center
}


/* -------spil -------------------*/


#spil {
    background-color: #fac177;
    /*
    width: 100%;
    justify-content: center;
    text-align: -webkit-center;
*/
}

#spil .txt {
    font-family: 'Abril Fatface', cursive;
    color: #093a82;
    text-align: center;
    font-size: 2rem;
}

#spil .iframe_wrap {
    /*
            width: 85vw;
            height: 46vw;
*/
    width: 80vw;
    text-align: center;
}



#spil #sectionwrapper {
    background-color: #fac177;
}

#spil #spiltext {
    font-family: 'Abril Fatface', cursive;
    color: #093a82;
    text-align: center;
    font-size: 2rem;
    padding-top: 37px;
}

iframe {
    width: 90vw;
    height: 50vw;
    border-style: hidden;
    max-width: 700px;
    max-height: 400px;
}

















































































































/* Spil slut */











/* Footer start */


/*Layout*/
.wrap_footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
}

.col_footer {
    flex-grow: 1;
    flex-basis: 800px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*Styling af tekst*/
#footer ul {

    padding: 0;
}

#footer li {
    list-style: none;
    line-height: 30px;
    font-family: helvetica;
    font-size: 0.7rem;
}

#footer b {
    font-family: 'Abril Fatface', cursive;
    font-size: 1rem;
}

#footer a {
    color: black;
}

#footer a:visited {
    color: black;
}

/*MEDIA QUERY*/

@media only screen and (min-width: 600px) {
    .col_footer {
        flex-basis: 200px;
    }
}

/*footer slut*/

/*some start*/

#some {
    background-color: #BEE0D9;
    width: 100%;
    justify-content: center;
    padding: 10vw 0vw 5vw 0vw;
}

.wrap_some {
    display: flex;
    flex-wrap: wrap;
    background-color: #BEE0D9;
    padding: 0;
}

.col_some {
    flex-grow: 1;
    flex-basis: 800px;

    margin: 0 0 10vw 0;
    text-align: -webkit-center;
}

#some img:hover {
    opacity: 0.2;
    cursor: pointer;
}

#some img {
    width: 400px;
}


#some h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    color: #fac177;
}

#some .tekst {
    position: relative;
    top: 250px;
    max-width: 350px;
    background-color: #093A82;
    padding: 1px 5px 1px 5px;
}

#some .txt {
    font-family: 'Abril Fatface', cursive;
    color: #093a82;
    font-size: 1.5rem;
    padding: 0px 20px 0px 20px;
    text-align: center;
}





/*        MEDIA QUERY*/


@media only screen and (min-width: 1024px) {
    .col_some {
        flex-basis: 200px;
    }

}











/*VIDEO DOKUMENTATION SITE*********/

#kampagnevideo_doku {
    display: grid;
    background-color: #093A82;
    height: 200vh;
}

#kampagnevideo_doku h1 {
    font-family: 'Abril Fatface', cursive;
    color: #FAC177;
    text-align: center;
    font-size: 2.5em;
}

#kampagnevideo_doku_wrapper {
    position: relative;
}

#kampagnevideo_doku_wrapper #base_div {
    width: 40%;
    margin: 0 auto;

    display: grid;
    height: 80vh;

    width: 68%;
    margin: 0 auto;
    max-width: 700px;


}

#kampagnevideo_doku_wrapper #base_div img {}

#base {
    align-self: center;
}








/********SØJLEDIIAGRAM*********/
#barchart {
    max-width: 700px;
}

#chart line {
    stroke: #093A82;
    stroke-width: .5;

}

#chart text {
    font-size: 5px;
    font-family: sans-serif;
    color: #FAC177;
}

.bars {
    stroke-width: 23.33;
    stroke: #093A82;
}



#output {
    position: absolute;
    background-color: cornflowerblue;
    color: white;
    padding: .3em;
    display: none;
}

#dataoverskrift {
    font-family: 'Abril Fatface', cursive;
    color: #093A82;
    text-align: center;
    font-size: 2.5em;
}

#bryg {
    font-family: helvetica;
    color: #093A82;
    text-align: center;
    font-size: 1em;
}

#datavisualisering {
    background-color: #FAC177;
    height: 100vh;
    padding: 5vw 0vw 1vw 0vw;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    #barchart {
        width: 90vw;
        /*        margin-left: 10px;*/
    }

}

#datavisualisering a {
    color: #093A82;
}

#datavisualiserinig a:visited {
    color: #093A82;
}

/*
@media only screen and (min-width: 768px) {
    #barchart {
        margin-left: 140px;
    }*/




/*Kompromis med en alkoholfri øl************/




.kompromis_box {
    background-color: #BEE0D9;
    height: 45rem;
    text-align: -webkit-center;
}

.kompromis_txt {
    display: grid;
}



.kompromis_txt p {
    padding: 100px 78px;
    max-width: 700px;
    margin: 0;
    color: #093A82;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

.kompromis {
    background-color: #BEE0D9;
}



@media only screen and (min-width: 540px) {
    .kompromis_box {
        height: 29rem;
    }


}




















/* some slut */
